---
layout: page
permalink: /tags/
---

<ul class="tag-cloud">
<h1>Tags: </h1>
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a class="tag" href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item tag-link">
      <a href="{{ root_url }}{{ post.url }} ">
       <div class="tag-date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></div>
       <h4>{{ post.title }}  </h4>
      </a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>