<footer class="site-footer">

  <div class="wrapper">

   

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="name">{{ site.myname }}</li>
          <li>-{{ site.alias }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p class="abode">Abode:</p>{{ site.address }}
      </div>
      <div class="footer-col footer-filler">
        <p> </p>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username id=site.facebook_id %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username id=site.linkedin_id %}
          </li>
          {% endif %}
        </ul>
      </div>

      
    </div>

  </div>

</footer>
