@font-face {
 font-family:"nihal111";
 src:url("../fonts/nihal111.ttf?cgaqog") format("truetype"),url("../fonts/nihal111.woff?cgaqog") format("woff"),url("../fonts/nihal111.svg?cgaqog#nihal111") format("svg");
 font-weight:normal;
 font-style:normal
}
.icon {
 font-family:"nihal111" !important;
 speak:none;
 font-style:normal;
 font-weight:normal;
 font-variant:normal;
 text-transform:none;
 line-height:1;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.icon-home:before {
 content:""
}
.icon-pencil:before {
 content:""
}
.icon-image:before {
 content:""
}
.icon-images:before {
 content:""
}
.icon-camera:before {
 content:""
}
.icon-headphones:before {
 content:""
}
.icon-music:before {
 content:""
}
.icon-play:before {
 content:""
}
.icon-price-tag:before {
 content:""
}
.icon-price-tags:before {
 content:""
}
.icon-barcode:before {
 content:""
}
.icon-qrcode:before {
 content:""
}
.icon-cart:before {
 content:""
}
.icon-phone:before {
 content:""
}
.icon-phone-hang-up:before {
 content:""
}
.icon-address-book:before {
 content:""
}
.icon-envelop:before {
 content:""
}
.icon-location:before {
 content:""
}
.icon-location2:before {
 content:""
}
.icon-calendar:before {
 content:""
}
.icon-keyboard:before {
 content:""
}
.icon-display:before {
 content:""
}
.icon-laptop:before {
 content:""
}
.icon-mobile:before {
 content:""
}
.icon-mobile2:before {
 content:""
}
.icon-drawer:before {
 content:""
}
.icon-drawer2:before {
 content:""
}
.icon-floppy-disk:before {
 content:""
}
.icon-undo:before {
 content:""
}
.icon-redo:before {
 content:""
}
.icon-undo2:before {
 content:""
}
.icon-redo2:before {
 content:""
}
.icon-bubble:before {
 content:""
}
.icon-bubbles2:before {
 content:""
}
.icon-bubble2:before {
 content:""
}
.icon-bubbles4:before {
 content:""
}
.icon-user:before {
 content:""
}
.icon-users:before {
 content:""
}
.icon-user-tie:before {
 content:""
}
.icon-quotes-left:before {
 content:""
}
.icon-quotes-right:before {
 content:""
}
.icon-spinner2:before {
 content:""
}
.icon-spinner5:before {
 content:""
}
.icon-spinner8:before {
 content:""
}
.icon-spinner11:before {
 content:""
}
.icon-search:before {
 content:""
}
.icon-zoom-in:before {
 content:""
}
.icon-zoom-out:before {
 content:""
}
.icon-enlarge:before {
 content:""
}
.icon-shrink:before {
 content:""
}
.icon-enlarge2:before {
 content:""
}
.icon-shrink2:before {
 content:""
}
.icon-lock:before {
 content:""
}
.icon-unlocked:before {
 content:""
}
.icon-wrench:before {
 content:""
}
.icon-equalizer2:before {
 content:""
}
.icon-cog:before {
 content:""
}
.icon-cogs:before {
 content:""
}
.icon-bug:before {
 content:""
}
.icon-pie-chart:before {
 content:""
}
.icon-stats-dots:before {
 content:""
}
.icon-stats-bars:before {
 content:""
}
.icon-mug:before {
 content:""
}
.icon-bin:before {
 content:""
}
.icon-briefcase:before {
 content:""
}
.icon-airplane:before {
 content:""
}
.icon-truck:before {
 content:""
}
.icon-switch:before {
 content:""
}
.icon-power-cord:before {
 content:""
}
.icon-clipboard:before {
 content:""
}
.icon-menu:before {
 content:""
}
.icon-menu2:before {
 content:""
}
.icon-menu3:before {
 content:""
}
.icon-menu4:before {
 content:""
}
.icon-cloud:before {
 content:""
}
.icon-cloud-download:before {
 content:""
}
.icon-cloud-upload:before {
 content:""
}
.icon-cloud-check:before {
 content:""
}
.icon-earth:before {
 content:""
}
.icon-link:before {
 content:""
}
.icon-attachment:before {
 content:""
}
.icon-eye:before {
 content:""
}
.icon-eye-blocked:before {
 content:""
}
.icon-star-empty:before {
 content:""
}
.icon-star-half:before {
 content:""
}
.icon-star-full:before {
 content:""
}
.icon-heart:before {
 content:""
}
.icon-man:before {
 content:""
}
.icon-woman:before {
 content:""
}
.icon-man-woman:before {
 content:""
}
.icon-warning:before {
 content:""
}
.icon-notification:before {
 content:""
}
.icon-question:before {
 content:""
}
.icon-plus:before {
 content:""
}
.icon-minus:before {
 content:""
}
.icon-info:before {
 content:""
}
.icon-cancel-circle:before {
 content:""
}
.icon-blocked:before {
 content:""
}
.icon-cross:before {
 content:""
}
.icon-checkmark:before {
 content:""
}
.icon-checkmark2:before {
 content:""
}
.icon-loop2:before {
 content:""
}
.icon-infinite:before {
 content:""
}
.icon-shuffle:before {
 content:""
}
.icon-arrow-right2:before {
 content:""
}
.icon-arrow-left2:before {
 content:""
}
.icon-circle-up:before {
 content:""
}
.icon-circle-right:before {
 content:""
}
.icon-circle-down:before {
 content:""
}
.icon-circle-left:before {
 content:""
}
.icon-shift:before {
 content:""
}
.icon-ctrl:before {
 content:""
}
.icon-checkbox-checked:before {
 content:""
}
.icon-checkbox-unchecked:before {
 content:""
}
.icon-radio-checked:before {
 content:""
}
.icon-radio-unchecked:before {
 content:""
}
.icon-filter:before {
 content:""
}
.icon-share:before {
 content:""
}
.icon-new-tab:before {
 content:""
}
.icon-embed:before {
 content:""
}
.icon-embed2:before {
 content:""
}
.icon-terminal:before {
 content:""
}
.icon-share2:before {
 content:""
}
.icon-mail:before {
 content:""
}
.icon-mail2:before {
 content:""
}
.icon-mail3:before {
 content:""
}
.icon-mail4:before {
 content:""
}
.icon-google3:before {
 content:""
}
.icon-google-plus:before {
 content:""
}
.icon-google-plus2:before {
 content:""
}
.icon-google-plus3:before {
 content:""
}
.icon-hangouts:before {
 content:""
}
.icon-google-drive:before {
 content:""
}
.icon-facebook:before {
 content:""
}
.icon-facebook2:before {
 content:""
}
.icon-instagram:before {
 content:""
}
.icon-whatsapp:before {
 content:""
}
.icon-spotify:before {
 content:""
}
.icon-telegram:before {
 content:""
}
.icon-twitter:before {
 content:""
}
.icon-rss:before {
 content:""
}
.icon-rss2:before {
 content:""
}
.icon-youtube:before {
 content:""
}
.icon-vimeo:before {
 content:""
}
.icon-flickr2:before {
 content:""
}
.icon-dribbble:before {
 content:""
}
.icon-behance:before {
 content:""
}
.icon-behance2:before {
 content:""
}
.icon-dropbox:before {
 content:""
}
.icon-github:before {
 content:""
}
.icon-trello:before {
 content:""
}
.icon-wordpress:before {
 content:""
}
.icon-joomla:before {
 content:""
}
.icon-tux:before {
 content:""
}
.icon-appleinc:before {
 content:""
}
.icon-finder:before {
 content:""
}
.icon-android:before {
 content:""
}
.icon-skype:before {
 content:""
}
.icon-linkedin:before {
 content:""
}
.icon-linkedin2:before {
 content:""
}
.icon-chrome:before {
 content:""
}
.icon-firefox:before {
 content:""
}
.icon-IE:before {
 content:""
}
.icon-edge:before {
 content:""
}
.icon-safari:before {
 content:""
}
.icon-opera:before {
 content:""
}
.icon-html-five:before {
 content:""
}
.icon-html-five2:before {
 content:""
}
.icon-css3:before {
 content:""
}
.icon-git:before {
 content:""
}