body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}


main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.wrapper-masthead {
  margin-top: 50px;
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid ;

  @include mobile {
    text-align: center;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.site-avatar {
  

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 15px;
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


.darken {
  transition: all .2s ease;
  opacity: .5;
  margin: 0;
  box-shadow: none;
  &:hover {
    opacity: .9;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 600px) { 
  .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav ul { margin: 0;
    padding: 0;
    max-width: 120px;}
  .site-nav .menu-icon > svg { width: 18px; height: 10px; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } 
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    display: block;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding : 0;
    .name{
    font-size: 20px;
    color : $font-color;
    font-family : $georgia;
    }
}

.abode {
    font-size: 20px;
    color : $font-color;
    font-family : $georgia;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-filler{
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}

.tag {
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 1.1rem;
  background: #ededed;
  color: #666;
  letter-spacing: 1px;
  margin: 0 0.5rem;
  text-decoration: none;
}

.tag-date {
  position: relative;
  top: 2px;
  margin: 0;
  width: 25%;
  float: right;
  font-weight: 300;
  color: #FFF;
  text-align: right;
  font-size: 1.2rem;
} 

.tag-link {
  :hover{
    color: $blue;
  }
}


/* For images */
.center {
    text-align: center;
}
.center img {
    max-width: 100%;
}
.w10 img {
    width: 10%;
}
.w20 img {
    width: 20%;
}
.w25 img {
    width: 25%;
}
.w30 img {
    width: 30%;
}
.w40 img {
    width: 40%;
}
.w50 img {
    width: 50%;
}
.w60 img {
    width: 60%;
}
.w70 img {
    width: 70%;
}
.w75 img {
    width: 70%;
}
.w80 img {
    width: 80%;
}
.w90 img {
    width: 90%;
}
.w100 img {
    width: 100%;
}