body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}


main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.wrapper-masthead {
  margin-top: 50px;
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid ;

  @include mobile {
    text-align: center;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.site-avatar {
  

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 15px;
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


.darken {
  transition: all .2s ease;
  opacity: .5;
  margin: 0;
  box-shadow: none;
  &:hover {
    opacity: .9;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    display: block;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding : 0;
    .name{
    font-size: 20px;
    color : $font-color;
    font-family : $georgia;
    }
}

.abode {
    font-size: 20px;
    color : $font-color;
    font-family : $georgia;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-filler{
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

